<link rel="stylesheet" href="~/Areas/Admin/css/Menu_Admin_Css.css" />
<div class="menu-container">
    <ul>
        <li>
            <button onclick="window.location.href = '@Url.Action("Index","User")'" class="button-75" role="button" style="width:300px;"> <span>Trang chủ</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("Index","QuanLy")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý thông tin cá nhân</span></button>
        </li>
        <li>
            <button onclick="window.location.href = '@Url.Action("XeMuon","QuanLy")'" class="button-75" role="button" style="width:300px;"> <span>Quản lý xe mượn</span></button>
        </li>
        <li>
            <button class="button-75" role="button" style="width:300px;"> <span>Quản lý thẻ mượn</span></button>
        </li>
        <li>
            <button class="button-75" role="button" style="width:300px;"> <span>Lịch sử mượn xe</span></button>
        </li>
        <li>
            <button class="button-75" role="button" style="width:300px;"> <span>Đăng xuất</span></button>
        </li>
    </ul>
</div>


